version: "3.10"

services:
  frontend:
    build:
      context: ./react-frontend
      dockerfile: Dockerfile
    image: react-frontend:latest
    ports:
      - 3000:3000
    networks:
      - project_network
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:8080

  backend:
    build:
      context: .
      dockerfile: FastAPI_Backend/Dockerfile
    image: backend:latest
    ports:
      - 8080:8080
    networks:
      - project_network

networks:
  project_network:
